apiVersion: autoscaling/v2beta2 
kind: HorizontalPodAutoscaler
metadata:
  name: todo-app-backend
  namespace: production
spec:
  scaleTargetRef:
    apiVersion: apps/v1 
    kind: Deployment 
    name: todo-app-backend
  minReplicas: 3 
  maxReplicas: 10
  metrics: 
  - type: Resource
    resource:
      name: memory 
      target:
        type: Utilization 
        averageUtilization: 95