apiVersion: apps/v1
kind: Deployment
metadata:
  name:  todo-app-frontend
  namespace: staging
  labels:
    app: todo-app
    tier: frontend
spec:
  selector:
    matchLabels:
      app: todo-app
      tier: frontend
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  todo-app
        tier: frontend
    spec:
      containers:
      - name:  todo-app
        image:  yusufluai/todo-app_client:prod-3
        imagePullPolicy: Always
        resources:
          requests:
            memory: 250Mi
            cpu: 250m
          limits:
            cpu: 500m
            memory: 500Mi
        ports:
        - containerPort: 3000
          protocol: TCP
        
        
      restartPolicy: Always