apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-data
  namespace: production
spec:
  resources:
    requests:
      storage: 20Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: standard

