apiVersion: apps/v1
kind: Deployment
metadata:
  name:  todo-app-frontend
  labels:
    app: todo-app
    tier: frontend
spec:
  selector:
    matchLabels:
      app: todo-app
      tier: frontend
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  todo-app
        tier: frontend
    spec:
      containers:
      - name:  todo-app
        image:  yusufluai/todo-app_client:prod-3
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 200Mi
            memory: 200Mi
          limits:
            cpu: 1000Mi
            memory: 1000Mi
        ports:
        - containerPort: 3000
          protocol: TCP
      restartPolicy: Always