apiVersion: apps/v1
kind: Deployment
metadata:
  name:  todo-app-frontend
  namespace: production
  labels:
    app: todo-app
    tier: frontend
spec:
  selector:
    matchLabels:
      app: todo-app
      tier: frontend
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  todo-app
        tier: frontend
    spec:
      containers:
      - name:  todo-app
        image:  yusufluai/todo-app_client:IMAGE_TAG
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 200m
            memory: 500Mi
          limits:
            cpu: 500m
            memory: 1000Mi
        ports:
        - containerPort: 3000
          protocol: TCP
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: tier
                  operator: In
                  values:
                  - frontend
              topologyKey: kubernetes.io/hostname   
      restartPolicy: Always